<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- 默认登陆界面 -->
	<!-- <http auto-config="true"> <intercept-url pattern="/index.jsp" access="hasRole('ROLE_USER')" 
		/> <form-login /> </http> -->

	<!-- 自定义登陆界面，提交跳转到<c:url value='/j_spring_security_check'/> 必须加上 login-processing-url="/j_spring_security_check" 
		否则会404 -->
	<!-- 退出登录时，必须加上logout-url="/j_spring_security_logout" 否则系统将无法找到退出页面 -->
	<http auto-config="true">
		<intercept-url pattern="/customerLoginLearn/admin**"
			access="hasRole('ROLE_USER')" />
		<form-login login-page="/customerLoginLearn/login"
			login-processing-url="/j_spring_security_check" default-target-url="/customerLoginLearn/welcome"
			authentication-failure-url="/customerLoginLearn/login?error"
			username-parameter="username" password-parameter="password" />
		<logout logout-success-url="/customerLoginLearn/login?logout"
			logout-url="/j_spring_security_logout" />
		<csrf />
	</http>

	<!-- 密码加密 -->
	<!-- <beans:bean name="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></beans:bean> 
		<authentication-manager> <authentication-provider> <password-encoder ref="bcryptEncoder"></password-encoder> 
		<user-service> <user name="jimi" password="d7e6351eaa13189a5a3641bab846c8e8c69ba39f" 
		authorities="ROLE_USER, ROLE_ADMIN" /> <user name="bob" password="4e7421b1b8765d8f9406d87e7cc6aa784c4ab97f" 
		authorities="ROLE_USER" /> </user-service> </authentication-provider> </authentication-manager> -->

	<!-- 采用数据库进行登陆验证 -->
	<beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url"
			value="jdbc:mysql://localhost:3306/learn_spring_security" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="mysql" />
	</beans:bean>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username,password, enabled from users where username=?"
				authorities-by-username-query="select username, role from user_roles where username =? " />
		</authentication-provider>
	</authentication-manager>

</beans:beans>
